header {
    background-color: black;
}

nav {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
}

nav ul {
    @include flex(row, flex-end, center);
    flex-wrap: wrap;
    list-style: none;
    font-size: $regular;
    color: white;
    flex: 2 1 20rem;
    li {
        padding: 0rem 5rem;
    }
}

a {
    flex: 1 1 20rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

@media screen and(min-width:1535px) {
    
}