* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  border: 2px solid #eca826;
}

html {
  font-size: 62.5%;
  color: white;
}

input,
textarea {
  border-radius: 25px;
  width: 30rem;
  margin: 2rem;
  padding: 1rem 2rem;
}

.hidden-text-container {
  display: none;
  background-color: black;
  padding: 4rem;
  font-size: 2rem;
}

.hidden-text-container h4, .hidden-text-container span {
  font-size: 3rem;
  font-weight: bold;
}

.hidden-text-container .text-hidden {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.hidden-text-container .contacts-flex-hide-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  padding: 1rem 0;
}

.hidden-text-container .right-box {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30rem;
          flex: 2 1 30rem;
  text-align: end;
}

.map-container {
  position: relative;
}

.map-text-container {
  z-index: 1000;
  position: absolute;
  background-color: rgba(43, 43, 43, 0.9);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  font-size: 2rem;
  padding: 6rem;
  right: 2%;
  bottom: 6%;
}

.map-text-container h4, .map-text-container span {
  font-size: 3rem;
  font-weight: bold;
}

.contacts-container {
  min-height: 18vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0rem;
}

.contacts-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.contacts-container ul li {
  padding: 0rem 2rem;
}

.logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
}

.footer-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
  font-size: 1.8rem;
}

.footer-text h5 {
  font-size: 2.5rem;
}

header {
  min-height: 5vh;
  background-color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 1rem 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  font-size: 1.8rem;
  color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 20rem;
          flex: 2 1 20rem;
}

nav ul li {
  padding: 0rem 5rem;
}

a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

.hero {
  min-height: 95vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.49%, #000), color-stop(32.74%, #4B2368C2), color-stop(101.49%, #3A0F58)), url(../img/backmain.jpg) no-repeat;
  background: linear-gradient(180deg, #000 1.49%, #4B2368C2 32.74%, #3A0F58 101.49%), url(../img/backmain.jpg) no-repeat;
  color: #f4f4f4;
}

.hero h2 {
  font-size: 6rem;
  text-align: center;
  padding-top: 10rem;
}

.garanty-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  padding: 10rem 0rem;
}

.garanty-container .garanty {
  padding: 5rem;
  text-align: center;
}

.hero-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 2rem 0;
}

.input-container {
  text-align: center;
}

.input-container input[type=submit] {
  border: 0 none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4cb56), to(#eca826));
  background: linear-gradient(to bottom, #f4cb56, #eca826);
  font-weight: bold;
}

.hero-label {
  padding: 2.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

/*SECTION ADVANTAGES*/
.advantages-section {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#1a1a1a));
  background: linear-gradient(to bottom, #1e1e1e, #1a1a1a);
}

.advantages-section h3 {
  padding: 5rem 0;
  font-size: 4rem;
  text-align: center;
}

.types-contatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.8rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.translation-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 4rem 2rem;
}

.translation-type p {
  text-align: center;
  padding: 2rem;
}

/*TRUST US SECTION*/
.trust-us {
  min-height: 60vh;
  text-align: center;
  font-size: 2rem;
}

.trust-us h4 {
  font-size: 3rem;
  font-weight: bold;
}

.trust-us-text {
  width: 80%;
  margin: auto;
  padding: 8rem 15rem;
  background: #861B1B;
}

.trust-us-text p {
  text-align: start;
}

.trust-us-recommendation {
  padding: 4rem 0rem;
  color: #333;
}

.trust-us-recommendation span {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.trust-us-recommendation p {
  padding: 0 2rem;
}

.recommend-companies-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(255px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  gap: 3rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
  width: 85%;
  margin: auto;
}

.recom-company {
  fill: #333;
}

.recom-company:hover {
  fill: #f4cb56;
}

.order-sequence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#1a1a1a));
  background: linear-gradient(to bottom, #1e1e1e, #1a1a1a);
  padding: 4rem 0rem;
}

.order-sequence h4 {
  font-size: 3rem;
}

.order-seq-list {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 1.8rem;
}

.order-seq-num {
  display: inline-block;
  font-size: 3rem;
  color: white;
  background: #861B1B;
  border: 1px solid white;
  border-radius: 100%;
  padding: 3rem 4rem;
}

.order-seq-item {
  padding: 3.2rem 4.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.order-seq-item p {
  padding-top: 2rem;
}

.order-seq-num p {
  padding-top: 0rem;
}

/*SECTION ORDER SEND*/
.send-order {
  max-width: 1170px;
  min-height: 40vh;
  margin: auto;
  color: black;
  text-align: center;
  padding: 5rem 4rem;
  font-size: 3rem;
}

.send-order p {
  font-size: 2rem;
}

.send-order span {
  padding-top: 0rem;
  color: #3f3f3f;
  font-size: 1rem;
}

.send-order h5 {
  font-size: 3rem;
}

.send-order form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexbox-three {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.send-order label {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.burger {
  display: none;
}

@media screen and (max-width: 950px) {
  .hero h2 {
    padding-top: 5rem;
    font-size: 4rem;
  }
  .hero .garanty-container {
    padding: 4rem 0rem;
  }
  .hero .garanty {
    padding: 4rem;
  }
  .hero .hero-form {
    padding: 2rem 0 4rem 0;
  }
  .advantages-section h2 {
    font-size: 3.5rem;
  }
  .trust-us-text {
    width: 100%;
    padding: 5rem;
  }
  .contacts-container ul {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1425px) {
  .recommend-companies-container {
    width: 100%;
  }
  .hide-svg-company {
    display: none;
  }
  .hidden-text-container {
    display: block;
  }
  .map-text-container {
    display: none;
  }
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: white;
    margin: 0.4rem 0rem;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-links {
    font-size: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-open {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(300%);
            transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-300%);
            transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
}

@media screen and (max-width: 650px) {
  .hero h2 {
    font-size: 3.6rem;
  }
  .translation-type {
    padding: 2rem;
  }
  .recommend-companies-container {
    padding: 4rem 0 0 0;
  }
  .text-hidden {
    width: 100%;
  }
  .right-box {
    text-align: start !important;
  }
}

body {
  font-family: 'Oranienbaum', serif;
}
/*# sourceMappingURL=style.css.map */